/* --------------------------------- */
/* Css Styles                        */
/*---------------------------------- */

/**
Lrakotoson.github.io

/* Table of Content
==================================================
	
	1. Body and Core Css
	2. Home Section
	3. About Section
	4. Portfolio Section
	5. Contact Section
	6. Responsive
	7. Slider & Video Home


/*------------------------ 1 Body and Core Css ------------------------*/
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Arvo', serif;
	background-color: #2c3e50;
}

.nav_fixed{
	position: fixed;
	width: 100%;
	background-color: #2c3e50;
	box-shadow: 0 2px 8px #95a5a6;
	transition: 0.7s all ease;
}

header{
	position: relative;
	background-image: linear-gradient(to top, rgba(44, 62, 80, 0), rgba(44, 62, 80, 0.5));
	color:#edf0f1;
	text-transform: uppercase;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 1%;
	z-index: 1;
	transition: 0.7s all ease;
}

header h2{
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 20px;
	color:#fff;
	cursor: pointer;
}

header h2>span{
	color:#f1c40f;
	font-size:40px;
}

.navbar{
	list-style: none;
	font-size:13px;
}

.navbar li{
	display: inline-block;
	padding: 0 20px;
}

.navbar li a{
	text-decoration: none;
	color: #fff;
	position: relative;
	display: block;
	overflow: hidden;
	transition: 0.3s all ease;
	padding: 14px 0;
}

.navbar li a:hover{
	color:#f1c40f;
}

.navbar li a:before{
	content:'';
	width: 60px;
	position: absolute;
	border-bottom: 3px solid #f1c40f;
	bottom: 0;
	right:350px;
	transition: 0.3s all ease;
}

.navbar li a:hover:before{
	right: 0;
}

#home{
	position: absolute;
	top: 0;
	text-align: center;
	height: 100vh;
	width: 100%;
}

.typed{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
	color: #fff;
	font-size:65px;
}

.typed>span{
	color:#f1c40f;
}

.social{
    position: absolute;
    z-index: 3;
    bottom: 0;
    display: block;
    padding: 20px 1%;
    text-align: center;
}


.social li{
	margin-top: 20px;
	list-style: none;
}

.social a{
    color: #fff;
    font-size: 15px;
    transition: all ease 0.3s;
    opacity: 1;
}


.social a:hover{
    transition: all ease 0.3s;
    opacity: 0.5;
}


.video_section{
	position: absolute;
	z-index: -1;
	top:0;
	height: 100%;
	width: 100%;
	opacity: 0.5;
}
#player{
	height: 100%;
	width: 100%;
	background: rgba(44, 62, 80, 0.5);
}

.container{
	position: absolute;
	top: calc(100vh + 20px);
	display: grid;
	row-gap: 20px;
}

#picture{
	background-color: blue;
}

#about{
	background-color: brown;
}

#skills{
	background-color: darkgoldenrod;
}

#portfolio{
	background-color: blueviolet;
}

#path{
	background-color: greenyellow;
}

#footer{
	background-color: green;
}

/* 
   ==================================
  || --------- Responsive --------- ||
   ==================================
 */

/* Mobile */
@media (max-width: 480px){


}

/* Tablet */
@media (max-width: 970px){
	/* Grid */
	.container{
		grid-template-rows: 100vh;
	}

	/* Nav bar */
	header{
		justify-content: center;
	}
	.navbar{
		display: none;
	}

	/* Home background */
	#home{
		background: center no-repeat url("../images/background_image.jpg");
		background-size: 100% auto;
	}

	.video_section{
		display: none;
	}

	.typed{
		font-size:100%;
	}
}

/* Desktop */
@media (min-width: 971px){
	/* Grid */
	.container{
		grid-template-columns: repeat(3, 1fr);
		width: 970px;
		top: calc(100vh + 60px);
		left:0;
		right:0;
		margin: 0 auto;
		justify-items: center;
		row-gap: 60px;
	}

	.container > div{
		width: 100%;
		grid-column: span 3;
	}

	#picture{
		grid-column: span 1;
		height: 440px;
	}

	#about{
		grid-column: span 2;
		height: 100%;
		display: flex;
		align-items: center;
	}

	#skills > div{
		display: inline-block;
	}

	.tools{
		width:50%;
	}

	.expertise{
		max-width:49%;
	}

}

/* Large Screen */
@media (min-width: 1280px){
	/* Grid */
	.container{
		width: 1170px;
	}

	#picture{
		height: 540px;
	}

}