/* --------------------------------- */
/* Css Styles                        */
/*---------------------------------- */

/**
Lrakotoson.github.io

/* Table of Content
==================================================
	
	1. Body and Core Css
	2. Home Section
	3. About Section
	4. Portfolio Section
	5. Contact Section
	6. Responsive
	7. Slider & Video Home


/*------------------------ 1 Body and Core Css ------------------------*/
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container{
	display: grid;
	grid-template-columns: auto auto auto;;
}

#home{
	grid-column: span 3;
	background-color: aqua;
	text-align: center;
	height: 100vh;
}

#picture{
	background-color: blue;
	height: calc(100vh - 150px);
}

#about{
	grid-column: span 2;
	background-color: brown;
	height: calc(100vh - 150px);
}

#portfolio{
	grid-column: span 3;
	background-color: blueviolet;
	height: calc(80vh - 150px);
}

#path{
	grid-column: span 3;
	background-color: greenyellow;
	height: calc(80vh - 150px);
}

#footer{
	grid-column: span 3;
	background-color: green;
}