/* --------------------------------- */
/* Css Styles                        */
/*---------------------------------- */

/**
Lrakotoson.github.io

/* Table of Content
==================================================
	
	1. Body and Core Css
	2. Home Section
	3. About Section
	4. Portfolio Section
	5. Contact Section
	6. Responsive
	7. Slider & Video Home


/*------------------------ 1 Body and Core Css ------------------------*/		

body{
    font-family: 'Arvo', sans-serif;
    background: #232323;
}

html{
	height: 100%;
}

p{
    font-size: 12.5px;
    color: #999999;
    line-height: 24px;
    font-family: 'Arvo', sans-serif;
 }

::selection {
  background: #000; 
  color: #fff;
}

::-moz-selection {
  background: #000; 
  color: #fff;
}

.top_10{
    margin-top: 10px;
}

.top_15{
    margin-top: 15px;
}

.top_30{
    margin-top: 30px;
}

.top_45{
    margin-top: 45px;
}

.top_60{
    margin-top: 60px;
}

.top_90{
    margin-top: 90px;
}

.padding_30{
   padding: 30px 0; 
}

.padding_45{
   padding: 45px 0; 
}

.padding_60{
   padding: 60px 0; 
}

.padding_90{
   padding: 90px 0; 
}

.padbot{
    padding-bottom: 30px;
}

header{
    position: absolute;
    transition: all ease 0.3s;
    z-index: 11;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.28);
}

.nav-fixed{
    background: #151515;
    border: solid 1px #2f2f2f;
    box-shadow: none;
    position: fixed;
    transition: all ease 0.3s;
    -webkit-box-shadow: -5px 10px 12px -10px rgba(201,201,201,0.67);
    -moz-box-shadow: -5px 10px 12px -10px rgba(201,201,201,0.67);
}

.nav-fixed ul li a{
    color: #fff;
}

.nav-fixed .logo{
    color: #fff;
}

nav{
    z-index: 100;
}

.nav-menu{
    float: right;
    line-height: 32px;
    margin-bottom: 0;
}

nav ul li{
    float: left;
    list-style: none;
    font-family: 'Arvo', sans-serif;
    font-size: 14px;
    position: relative;
    margin-right: 3px;
}

nav ul li a{
    color: #fff;
    line-height: 72px;
    display: block;
    text-decoration: none !important;
    font-size: 13px;
    padding: 0 7px;
    font-weight: 500;
    
}

.selected:after {
	content: '';
	display: block;
	margin: auto;
	height: 2px;
	width: 100%;
	transition: width .5s ease, background-color .5s ease;
}

nav ul li a:after {
	height: 2px;
    width: 0;
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    transition: all 0.2s ease-in-out;
}

nav ul li a:hover:after {
	width: 100%;
    transition: all 0.2s ease-in-out;
}

.logo{
    float: left;
    padding: 22px 0px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.logo span {
    font-size: 50px;
    color: #ffff33;
}

 .responsive{
    display: none;
    float: right;
    color: #fff;
    font-size: 14px;
     font-weight: 600;
    border: solid 1px #8a8989;
    padding: 9px 13px;
    margin: 14px 0 0 0;
    cursor: pointer;
}

.nav-fixed .responsive {
    border: solid 1px #dcdcdc;
    color: #000;
    font-weight: 500;
}
    
.active{
    color:#afafaf;
}


.site-button:focus{
    outline: 0;
}

.nav-menu li a:focus{
    color: #000;
} 

.ok{
    background: green !important;
    border: solid 2px green !important;
    color: white;
} 

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}


.content{
    margin-top: 60px;
}

.subpage-nav{
    display:block !important; 
    position: relative;
}

.page-title{
   display: table-cell;
   vertical-align: middle;
   text-align: center;
   z-index: 2;
   position: relative;
}

.page-title h1{
   font-size: 75px;
   color: #fff;
   font-weight: bold;
   letter-spacing: -3px;
   margin-bottom: 20px;
}

/* Sections */

section{
    padding-top: 60px;
}

article{
    padding-top: 60px;
}


/* Section Titles */

.center-title{
    padding: 0 210px;
}

.center-title h1{
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 600; 
    margin: 20px 0 10px 0;
}

.center-title:before{
    height: 2px;
    width: 60px;
    content: "";
    display: block;
    margin: 0 auto;
}

.center-title p{
    text-align: center; 
    margin-top: 15px;
}

.left-title{
    display: inline-block;
    width: 100%;
}

.left-title h1{
    color: #fff;
    text-align:left;
    font-size: 18px;
    font-weight: 600;   
    margin: 20px 0 10px 0;
}

.left-title:before{
    height: 2px;
    width: 60px;
    content: "";
    display: block;
    margin: 0 auto;
    float: left;
}


/*preloader */

#preloader {
    background-color:#fff;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%; 
    z-index: 1000;
    display:table;
    text-align: center;
}

.spinner {
    margin:auto;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
} 

@-webkit-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-webkit-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-moz-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-ms-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-moz-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-webkit-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@-o-keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
@keyframes uil-ripple {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
    margin: 0 0 0 0;
  }
  33% {
    width: 44%;
    height: 44%;
    margin: -22% 0 0 -22%;
    opacity: 1;
  }
  100% {
    width: 88%;
    height: 88%;
    margin: -44% 0 0 -44%;
    opacity: 0;
  }
}
.uil-ripple-css {
  background: none;
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.uil-ripple-css div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  width: 0;
  height: 0;
  opacity: 0;
  border-radius: 50%;
  border-width: 12px;
  border-style: solid;
  -ms-animation: uil-ripple 2s ease-out infinite;
  -moz-animation: uil-ripple 2s ease-out infinite;
  -webkit-animation: uil-ripple 2s ease-out infinite;
  -o-animation: uil-ripple 2s ease-out infinite;
  animation: uil-ripple 2s ease-out infinite;
}

.uil-ripple-css div:nth-of-type(2) {
  -ms-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}


.not_found {
    text-align: center;
}

.not_found h1{
    font-size: 220px;
    font-weight: 700;
    color: #b9b9b9;
}

.not_found h2{
    color: #fff;
    font-size: 22px;
    font-weight: 600;
}




/*------------------------ 2 Home ------------------------*/		

.home{
    background:url(../images/home.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    width: 100%;
    display: table;
    z-index: 10;
    position: relative;
}

.home-content{
   display: table-cell;
   vertical-align: middle;
   text-align: center;
   z-index: 2;
   position: relative;
}

.profile-img{
    width: 230px;
    height: 230px;
    margin: 0 auto;
    border-radius: 150px;
    overflow: hidden;
    margin-bottom: 35px;
    box-shadow: 0px 0px 42px 0px rgba(0, 0, 0, 0.38);
    -webkit-box-shadow: 0px 0px 42px 0px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 42px 0px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 42px 0px rgba(0, 0, 0, 0.38);
}

.profile-img img{
    width: 100%;
}

.home-profile h1{
    font-size: 60px !important;
}

.home-content h1{
   font-size: 70px;
   color: #fff;
   font-weight: 600;
   letter-spacing: -3px;
}

.home:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.home-video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.home.video-section{
    padding: 0;
    background: none;
}

.home.video-section .home-content{
    position: initial;
}

.home.video-section .home-content .home-down, .home.video-section .home-content h1 {
    position: relative;
    z-index: 3;
}


.home-down {
    color: #fff;
    font-size: 23px;
    opacity: 0.5;
    padding-top: 70px;
    padding-left: 20px;
    display: inline-block;
    cursor: pointer;
    transition: all 0.3s ease;
}

.home-down:hover, .home-down:focus{
    color: #fff;
    opacity: 1;
    
}

.home-down.selected {
    color: #fff !important;
}


.home-down.selected:after {
    width: 0;
}

.home-down:hover{
    color: #fff;
	transition:all 0.3s ease;
}

.home-down:focus{
    color: #fff;
}

/* arrow css3 animation */

@-webkit-keyframes bounce {
	 0%, 100% {-webkit-transform: translateY(0);} 
	 40% {-webkit-transform: translateY(-20px);}
}
 
@-moz-keyframes bounce {
	 0%, 100% {-moz-transform: translateY(0);}
	 40% {-moz-transform: translateY(-20px);}
}
 
@-o-keyframes bounce {
	 0%, 100% {-o-transform: translateY(0);}
	 40% {-o-transform: translateY(-20px);}
}

@keyframes bounce {
	 0%, 100% {transform: translateY(0);}
	 40% {transform: translateY(-20px);}
}
 
 .bounce {
	 -webkit-border-radius:50%;
	 -moz-border-radius:50%;
	 -ms-border-radius:50%;
	 border-radius:50%;
	 animation: bounce 2s infinite;
	 -webkit-animation: bounce 2s infinite;
	 -moz-animation: bounce 2s infinite;
	 -o-animation: bounce 2s infinite;
}


/* social */


.home-social{
    position: absolute;
    z-index: 12;
    bottom: 0;
    display: block;
    padding: 20px;
    text-align: center;
}


.home-social li{
    margin-top: 20px;
}

.home-social a{
    color: #fff;
    font-size: 15px;
    transition: all ease 0.3s;
    opacity: 1;
}


.home-social a:hover{
    transition: all ease 0.3s;
    opacity: 0.5;
}



/*------------------------ 3 About ------------------------*/

.profile img{
    width: 100%;
    float: right;
}

.about-info{
    float: left;
}

.feature{
    margin-top: 30px;
}

.feat-icon{
    width: 20%;
    float: left;
    text-align: center;
}

.feat-text{
    width: 80%;
    float: left;
}

.feature i{
    font-size: 28px;
    text-align: center;
}

.feature span{
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
    display: block;
}

.resume_view{
    display: inline;
}

.skills{
    border: solid 1px rgb(47, 47, 47);
    box-shadow: 0px 0px 42px 0px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 0px 42px 0px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 0px 42px 0px rgba(0, 0, 0, 0.08);
    -ms-box-shadow: 0px 0px 42px 0px rgba(0, 0, 0, 0.08);
    -o-box-shadow: 0px 0px 42px 0px rgba(0, 0, 0, 0.08);
    padding: 45px 30px 30px;
    background: #191919;
}

.skill-list li{
  list-style: none;
}


.skill-list .progress {
    margin: 15px 0 30px;
    display: block;
    height: 4px;
    position: relative;
    width: 100%;
    overflow: visible;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    background: #dfdfdf;
    box-shadow: 0;
}

.skill-list .progress .percentage {
    border-radius: 50px 0 0 50px;
    -moz-border-radius: 50px 0 0 50px;
    -webkit-border-radius: 50px 0 0 50px;
    -ms-border-radius: 50px 0 0 50px;
    -o-border-radius: 50px 0 0 50px;
    bottom: 0;
    position: absolute;
    top: 0;
}

.skill-list h3 {
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
}


span.bigwhite {
    font-size: larger;
    color: white;
}

/*------------------------ 4 Path ------------------------*/

.path-out {
    padding-left: 25px;
}

.path-info:first-child {
    padding-top: 50px;
}

.path-info:last-child {
    border: 0;
    padding-left: 32px;
}

.path-info {
    border-left: 2px solid #3c3c3c;
    padding: 0 0 40px 30px;
}

.info-title {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

.info-title::after {
    content: '';
    width: 10px;
    height: 10px;
    float: left;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    margin: 0px 9px 0 -36px;
}

.info-date {
    font-size: 13px;
    padding: 6px 0;
    display: block;
}

.rounded-icon i {
    width: 55px;
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
    color: #fff;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.rounded-icon span {
    margin-left: 19px;
    font-weight: 500;
    color: #c5c5c5;
    letter-spacing: 7px;
}



/*------------------------ 5 Portfolio ------------------------*/

.portfolio_filter {
    text-align: center;
}

.portfolio_filter ul {
    margin: auto;
    display: inline-block;
}

.portfolio_filter ul li {
    font-size: 12.5px;
    color: #999999;
    line-height: 24px;
    float: left;
    margin-right: 15px;
    list-style: none;
    cursor: pointer;
}

.isotope_items{
    min-height: 760px;
}

.single_item img {
    width: 100%;
    transition: all ease 0.3s;
}

.single_item {
    margin-bottom: 30px;
}

.portfolio-btn{
    text-align: center;
}


.work-inner {
    position: relative;
}

.work-overlay {
    position: absolute;
    color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.overlay-in {
    display: table;
    height: 100%;
    width: 100%;
}

.work-info {
    display: table-cell;
    vertical-align: middle;
    padding: 0 15px;
}

.overlay-in p {
    font-size: 14px;
    line-height: 20px;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    opacity: 0;
    -webkit-transform: translate3d(0, 80px, 0);
    -moz-transform: translate3d(0, 80px, 0);
    -ms-transform: translate3d(0, 80px, 0);
    -o-transform: translate3d(0, 80px, 0);
    transform: translate3d(0, 80px, 0);
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.overlay-in .work-links {
    margin-top: 20px;
    opacity: 0;
    display: block;
    -webkit-transform: translate3d(0, 80px, 0);
    -moz-transform: translate3d(0, 80px, 0);
    -ms-transform: translate3d(0, 80px, 0);
    -o-transform: translate3d(0, 80px, 0);
    transform: translate3d(0, 80px, 0);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}


.overlay-in .work-links a {
    font-size: 20px;
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
    opacity: 0.7;
}

.overlay-in .work-links a:hover{ 
	opacity:1;
}

.work-inner:hover > .work-overlay{ 
	background: rgba(0, 0, 0, 0.80);
	opacity:1;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.work-inner:hover .overlay-in p{
	opacity:1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
	-webkit-transition-delay: 0.3s; 
    transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	-ms-transition-delay: 0.3s;
}

.work-inner:hover .overlay-in .work-links{
	opacity:1;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
	-webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
	-o-transition-delay: 0.4s;
	-ms-transition-delay: 0.4s;
}



.owl-carousel .item img{
    width: 100%;
}


.gallery-post a.carousel-control{
    padding-top: 26%;
}

.gallery-post img{
    width: 100%;
}


/*------------------------ 6 Contact ------------------------*/


.contact-info i {
    width: 65px;
    height: 65px;
    text-align: center;
    background: #232323;
    border: solid 2px;
    border-radius: 50px;
    color: #fff;
    padding-top: 20px;
    font-size: 20px;
    margin-bottom: 20px;
}

.contact-info p {
    line-height: 18px;
}



/*------------------------ 7 Footer ------------------------*/


footer{
    background: #000;
    padding: 45px 0;
    margin-top: 60px;
}


.wrapper-parallax {
    background: #fff;
    margin-bottom: 209px;
}

.content {
    position: relative;
    z-index: 1;
    background: white;
    min-height: 500px;
}

.copyright-text{
    padding: 0 200px;
}

.copyright-text hr{
    border-top: 1px solid #353535;
}

footer {
    width: 100%;
}


footer .social{
    height: 30px;
}


footer .social a{
    color: #fff;
    font-size: 15px;
    margin:0 15px;
    transition: all ease 0.3s;
}


footer .social a:hover{
    transition: all ease 0.3s;
    opacity: 0.5;
}


/* back to top */

.backtop{
    cursor: pointer;
    position: fixed;
    bottom: 84px;
    right: 20px;
    width: 45px;
    height: 45px;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -o-border-radius: 25px;
    background: #292929;
    color: #ffffff;
    border: solid 1px #4c4c4c;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    font-size: 12px;
}

.backtop:hover{
    color: #fff;
    border: 0;
    transition: all ease 0.3s;
}

.backtop.selected {
    color: #fff !important;
}

.backtop.selected:after {
    width: 0;
    content: none;
}



/*------------------------ 13 Elements ------------------------*/



/* Buttons */



.rakotoson_button {
    display: inline-block;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    padding: 15px 34px 13px;
    min-width: 170px;
    border: 0;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: #fff;
    background: #ffa700;
    font-weight: 500;
    font-size: 13px;
    transition: all ease 0.3s;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
} 

.rakotoson_button:before  {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}



.rakotoson_button:hover, .rakotoson_button:focus, .rakotoson_button:active {
  color: #fff;
}
.rakotoson_button:hover:before, .rakotoson_button:focus:before, .rakotoson_button:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.giggs_button2{
    padding: 15px 34px 13px;
    min-width: 170px;
    border: 0;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    transition: all ease 0.3s;
    display: inline-block;
    cursor: pointer;
}

a.giggs_button2{
    color: #fff;
}

.giggs_button2:hover{
    background: #000;
    transition:all ease 0.3s;
}



/*------------------------ 14 Responsive ------------------------*/


/*max Width 992px */

@media screen and (max-width: 991px) {

    .home-content h1{
        font-size: 50px;
    } 
    
     .what-can .feature{
        padding: 0 30px;
    }
     
    .center-title {
        padding: 0 15px;
    }
    
    .contact-info i{
        display: none;
    }
    
    .contact-info{
        margin: 10px 0;
    }
    
     .contact-info p{
        margin: 10px 0;
        color: #000;
    }
    
}



/*max Width 768px */

@media screen  and (max-width: 768px) {

    .home-content h1{
        font-size: 32px !important;
        margin-bottom: 10px;
    }
    
    .contact-info{
        margin-bottom: 30px;
        padding: 0 50px;
    }
   
    .social a{
        margin: 0 10px;
        font-size: 12px;
    }
    
    .nav-menu li{
        float: none;
    }
    
    .responsive{
        display: block;
    }
    
    .not_found h1 {
    font-size: 130px;
}
    
    .profile-img{
        width: 170px;
        height: 170px;
    }
    
.nav-menu{ 
    width: 100%;
    background: #fff;
    text-align: center; 
    overflow: scroll;
    display: none;
}
    
    .nav-menu li a{
        border-top: 1px solid #efefef;
        line-height: 45px;
        font-size: 11px;
        color: #000;
    }
    
    .nav-menu li a:hover:after {
	width: 0%;
}
    
    .selected:after{
        display: none;
    }

    .skill-list:first-child{
        margin-bottom: 70px;
    }
    
    .feat-icon i{
        font-size: 23px;
    }
    
    .portfolio_filter ul {
       margin-top: 15px;
    }
    
    .portfolio_filter ul li {
        line-height: 32px;
        border: solid 1px #efefef;
        margin-bottom: 10px;
        padding: 0 11px;
        width: 45%;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: block;
}
    
    .copyright-text {
        padding: 0;
    }
    
    .music-wave, .backtop{
        right: 15px !important;
    }
    
    .backtop{
        bottom: 70px !important;
    }
    
    .music-wave{
        bottom: 15px !important;
    }
    
    .nav-scroll {
    height: 207px;
	overflow: hidden;
	position: relative;
}
    
    .feat-icon {
    width: 12%;
}
    
}
   

/*between 480 768px */

@media screen and (min-width: 480px) and (max-width: 768px) {
 
    .home-content h1 {
      font-size: 40px !important;
    }
    
    
}

/*min Width 768px */
@media screen and (min-width: 768px) {
    
 .nav-menu{
        display: block!important;
    }
    
}



    


